h2 {text-decoration: overline; font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 14pt} p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 
9pt} td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt} 
h1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 26pt; color: 
#9999FF; text-align:right; ; font-weight: bold} h4 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt; font-style: italic} li { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 9pt} h5 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt; font-weight: bold} TH { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 75%; background-color: #CC99FF; text-align: left;} TD { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 75%; color: black; text-transform: 
none; margin-left: 5px;} A:Visited {color: #333399;} A:Link {color: #9900FF;}A:Hover 
{color: red;} h3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; color: #9999FF }
h6 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 26pt; color: #9999FF; text-align:left; ; font-weight: bold }
