p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: 
#FFFFFF;}A:Link {color: #FFFFFF;} A:Visited {color: #FFFFFF;}A:Hover {color: #CC99FF;}BODY 
{ background-color: #333399;} TD{ font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 8pt; color: white;}